<p style="color: green"><%= notice %></p>

<h1>Workouts</h1>

<%= line_chart @workouts.group_by_day(:created_at, range: 1.month.ago..Time.now).count %>
<%= pie_chart @workouts.group(:name).count %>
<%= bar_chart @workouts.group_by_day(:created_at, range: 1.month.ago..Time.now).count %>

<div id="workouts">
  <% @workouts.each do |workout| %>
    <%= render workout %>
    <p>
      <%= link_to "Show this workout", workout %>
    </p>
  <% end %>
</div>

<%= link_to "New workout", new_workout_path %>
